@charset "utf-8";

html,body{width:100%;}
html{overflow-y:scroll;font-size:10px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,header,nav,aside,footer,a,.header,.gnb, .login-box, .footer, .inner,.btn-box{margin:0; padding:0; font-size: 15px; box-sizing: border-box;font-family:'Calibri', 'MalgunGothic', 'sans-serif';}
body,h1,h2,h3,h4,input,button{font-size:15px;color:#A6A6A6;}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all; font-family:'Calibri', 'MalgunGothic', 'sans-serif';text-align:left; }

img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal;}
label,button{cursor:pointer}
button{margin:0;padding:0;}

a{color:#000000;text-decoration:none}
a:hover{text-decoration:none}
a:visited, a:focus, a:active, a:hover{ outline:0 none !important; }
button *{position:relative}
button img{left:-3px;*left:auto}
button:visited, button:focus, button:active, button:hover{ outline:0 none !important; }
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}

input::-ms-clear{display:none}
.clear-fix:after{content: ''; display: block; width: 0; height: 0; visibility: hidden; clear:both;}

.inner{max-width: 1200px; width: 100%; margin:0 auto; overflow: hidden;position: relative;}
.off{display: none;}
.on{display: block;}
.left{float: left;}
.right{float: right;}

/*mobile reset*/
@media only screen and (max-width: 400px) {
  .reset_font{font-size: 10px;}
}

@media only screen and (max-width: 500px) {
  .reset_font{font-size: 10.5px; line-height: 1.2em}
}

@media only screen and (max-width: 600px) {
  .reset_font{font-size: 13px;}
  .inner{width: 100%; max-width: 600px;position:static;}
}
