
  li.orange-btn {display: inline;}
  .orange-btn a{display: block; width: 57px; height: 30px; background: #e77c22; border-bottom: 3.5px solid #c56a10;border-radius: 5px; color: #fff; text-align: center; padding-top: 5px;}
  .orange-btn a:hover{background: #c56a10;}

@media only screen and (min-width: 599px) {


  .container{width: 100%; margin-bottom: 100px;}
  .m-visual-bg{width: 1920px; height:381px; background: url(../../img/job-mvisual.jpg) 0 0 no-repeat; overflow: hidden; margin: 0 auto; position: absolute; top: 160px;}
  .m-visual{width: 100%; height: 381px;}
  .m-visual .inner{height: 381px;}
  .m-visual .title-box{ width: 640px; height: 167px; background:rgba(255,255,255,0.8);  border-radius:10px;position: absolute; top:23%; left: 15%; }
  .m-visual .title-box h2{width: 100%;font-size:65px; color:rgb(70,110,165); font-weight: bold;text-align: center; padding-top: 43px;}


  .container-article{;}
  .container-article h3{width: 100%;font-family: "Arial"; color:rgb(70,110,165); font-size: 28px; text-align: center;margin: 55px 0; }
  .container-article p{width: 85%; margin: 0 auto;font-family: "Arial";color:rgb(38,38,38);text-align: center;}



  /*PC job-table area*/
  .container-article{width: 100%;}
  .container-article .job-table{width: 100%; max-width: 1200px;}
    .container-article .job-table ul.job-table-head{width: 100%; background: #eee; color:#6d97c8; overflow: hidden; height: 60px; padding-top: 20px;}
      .container-article .job-table ul.job-table-head li{width: 10%;float: left; font-size: 15px;}
      .container-article .job-table ul.job-table-head li:nth-child(1){width:19.58%;max-width: 238px; text-align:center; text-align: left;padding-left: 50px;}
      .container-article .job-table ul.job-table-head li:nth-child(2){width:12.9%;;max-width: 147px;}
      .container-article .job-table ul.job-table-head li:nth-child(3){width:14.58%;;max-width: 173px;}
      .container-article .job-table ul.job-table-head li:nth-child(4){width:10.58%;max-width: 127px;}
      .container-article .job-table ul.job-table-head li:nth-child(5){width:7.25%;max-width: 87px;}
      .container-article .job-table ul.job-table-head li:nth-child(6){width:9.25%;max-width: 111px;}
      .container-article .job-table ul.job-table-head li:nth-child(7){width:7.75%;max-width: 93px;}
      .container-article .job-table ul.job-table-head li:nth-child(8){width:18%;max-width: 224px;}


    .container-article .job-table ul.job-table-body{width: 100%; overflow: hidden;}
      .container-article .job-table ul.job-table-body>li{height: 118px;float: left; padding-top: 20px; color:#686868;}
      .container-article .job-table ul.job-table-body li:nth-child(1){width:19.58%;max-width: 238px; text-align:center; text-align: left; color:#6d97c8;}
      .container-article .job-table ul.job-table-body li:nth-child(2){width:12.9%;;max-width: 147px;}
      .container-article .job-table ul.job-table-body li:nth-child(3){width:14.58%;;max-width: 173px; padding-right: 35px;}
      .container-article .job-table ul.job-table-body li:nth-child(4){width:10.58%;max-width: 127px;}
      .container-article .job-table ul.job-table-body li:nth-child(5){width:7.25%;max-width: 87px;}
      .container-article .job-table ul.job-table-body li:nth-child(6){width:9.25%;max-width: 111px;}
      .container-article .job-table ul.job-table-body li:nth-child(7){width:7.75%;max-width: 93px;}
      .container-article .job-table ul.job-table-body li:nth-child(8){width:18%;max-width: 224px; overflow: hidden;}

      /*첫번째 셀 : .job-position-col*/
      .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col{width: 100%;overflow: hidden;padding-right: 30px;}
      .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li{margin: 0; float: left;}
      .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(1){width:50px; height: 118px;text-align: center; color:#686868;}
      .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(2){width: 50%; min-width:100px;}
      .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(3){width: 20%; float: left;}/*orange-view-btn*/


      /*세번째 셀 : .job-desc-col*/
      .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec{width: 100%; margin-top: 10px;}
      .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li{width: 100%;clear: both; color:#686868; }


      /*마지막 셀 : .job-action-col*/
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col{width: 100%;overflow: hidden;}
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li{float: left;}
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(1){width: 65%;min-width: 57px; max-width: 110px; height: 118px; }
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(2){width: 35%;min-width: 40px; height: 18px;text-align: center;}
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(2) a{float: left;margin-top: 7px;}
      .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(2) a:nth-child(1){margin:7px 15px 5px 0;}
}
@media only screen and (max-width: 940px) {


    .container-article .job-table ul.job-table-head li:nth-child(1){padding-left: 5%;}

    .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col{width: 100%;overflow: hidden;padding-right: 0px;}

    .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(1){width: 10%;max-width:30px; }
    .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(2){width: 50%;max-width:188px; }
    .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(3){width: 0; display: none;}/*orange-view-btn*/
}
@media only screen and (max-width: 795px) {

  .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(2) a:nth-child(1){margin-top:0px;}
}

@media only screen and (max-width: 599px) {
  .container{width: 100%; overflow: hidden;margin-bottom: 100px;}
  .m-visual-bg{width: 100%;max-width: 1920px; height:381px; background: url(../../img/job-mvisual.jpg) 0 0 no-repeat; overflow: hidden; margin: 0 auto; position: absolute; top: 100px;}
  .m-visual{width: 100%; height: 381px;}


  .m-visual .title-box{width: 80%; max-width: 480px;margin: 0 auto; height: 167px; position: absolute; top:50%; left:10%; margin:-83.5px 0 0 0; background:rgba(255,255,255,0.8);  border-radius:10px;}
  .m-visual .title-box h2{width: 100%;font-size:35px; color:rgb(70,110,165); font-weight: bold;text-align: center; padding-top:53px; }



  .container-article{;}
  .container-article h3{width: 100%;font-family: "Arial"; color:rgb(70,110,165); font-size: 28px; text-align: center;margin: 55px 0; margin-top: 50px;}
  .container-article p{width: 85%; margin: 0 auto;font-family: "Arial";color:rgb(38,38,38);text-align: center;}


  /*MOBILE job-table area*/
  .container-article .job-table{width: 100%; max-width: 1200px;}

  .container-article .job-table ul.job-table-head{display: none;}

  .container-article .job-table ul.job-table-body{width: 100%; height: 200px; border-top: 2px solid #ddd; position: relative;}
  .container-article .job-table ul.job-table-body:last-child{border-bottom: 2px solid #ddd;}


  .container-article .job-table ul.job-table-body>li{width: 100%; color: #686868; padding-left: 10%;}
  .container-article .job-table ul.job-table-body>li:nth-child(1){width: 100%; height: 50px; padding: 0;}
  .container-article .job-table ul.job-table-body>li:nth-child(2){width: 100%; height: 30px;position: absolute; bottom:70px; color: #686868; font-size: 18px;}
  .container-article .job-table ul.job-table-body>li:nth-child(3){;}
  .container-article .job-table ul.job-table-body>li:nth-child(4){width: 45%;font-size: 18px; min-width: 150px;position: absolute; top: 50px;}
  .container-article .job-table ul.job-table-body>li:nth-child(5){display: none;}
  .container-article .job-table ul.job-table-body>li:nth-child(6){display: none;}
  .container-article .job-table ul.job-table-body>li:nth-child(7){display: none;}
  .container-article .job-table ul.job-table-body>li:nth-child(8){width:18%;max-width: 224px; overflow: hidden;}


  /*첫번째 셀 : .job-position-col*/
  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col{width: 100%;overflow: hidden;padding:0px;}
  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li{margin: 0; float: left;font-size: 25px; padding-top: 10px;}
  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(1){width:10%;max-width: 50px;height: 118px;text-align: center; color:#686868;}
  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(2){width: 90%;max-width: 549px;color:#6d97c8; }
  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(3){display: none;}/*orange-view-btn*/


  /*세번째 셀 : .job-desc-col*/
  .container-article .job-table ul.job-table-body li.job-desc-col>span{display: none;}
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec{width: 100%;position: absolute; top:50px; left:45%;}
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li{width: 30%;max-width: 105px;float: left; font-size: 18px; }
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li:nth-child(1){width: 0;display: none;}
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li:nth-child(2){;}
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li:nth-child(3){;}


  /*마지막 셀 : .job-action-col*/
  .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col{width: 100%;overflow: hidden;}
  .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li{float: left;}
  .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(1){width: 100%; position: absolute;bottom: 20px;}
  .container-article .job-table ul.job-table-body li:nth-child(8) ul.job-action-col li:nth-child(2){display: none;}



}
@media only screen and (max-width: 462px) {
  .container{width: 100%; margin-bottom: 100px;}
  .m-visual .title-box{width: 85%; height: 167px; background:rgba(255,255,255,0.8); margin:0 auto;  border-radius:10px;position: absolute; top:50%; left: 5%; margin:-83.5px 0 0 0;}
  .m-visual .title-box h2{width: 100%;font-size:30px; color:rgb(70,110,165); font-weight: bold;text-align: center; padding-top: 65px;}

  .container-article .job-table ul.job-table-body li:nth-child(1) ul.job-position-col li:nth-child(2){font-size: 19px;padding-top: 15px;}
}

/*iphone5 width 이하*/
@media only screen and (max-width: 320px) {
  /*.container{width: 100%; margin-bottom: 100px;}
  .m-visual .title-box{width: 90%; max-width: 300px; height: 167px; background:rgba(255,255,255,0.8); margin:0 auto;  border-radius:10px;position: absolute; top:50%; left: 5%; margin:-83.5px 0 0 0;}
  .m-visual .title-box h2{width: 100%;font-size:25px; color:rgb(70,110,165); font-weight: bold;text-align: center; padding-top: 55px;}*/
  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec{left:48%;}

  .container-article .job-table ul.job-table-body li:nth-child(3) ul.job-spec>li:nth-child(3){margin-left: -15px;}
}
