<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="아웃소싱 전문업체, 인재파견, 헤드헌팅, 장단기 파견, IT 등 채용정보 제공.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/common/reset.css">
  <link rel="stylesheet" href="../../css/common/header.css">
  <link rel="stylesheet" href="../../css/common/footer.css">
  <link rel="stylesheet" href="../../css/asset/jobinfo.css">

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

  <script src="../../js/header.js"></script>
  <title>맨파워 코리아</title>
</head>
<body>
  <!-- header start -->
  <div class="header">

    <!-- inner start -->
    <div class="inner">

          <!-- util-menu start -->
          <div class="util-menu">
              <!-- login-box start -->
              <ul class="login-box">
                <li class="triangle">
                  <a href="#" class="eng" >ENGLISH</a>
                  <a href="#" class="kor">한국어</a>
                </li>
                <li><a href="../login.html">LOGIN</a></li>
                <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
                <li><a href="../signup.html">SIGNUP</a></li>
              </ul>
              <!-- login-box end -->

              <!-- sns-icon start -->
              <ul class="sns-icon clear-fix">
                  <li><a href="#"><img src="../../img/facebook-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                  <li><a href="#"><img src="../../img/in-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                  <li><a href="#"><img src="../../img/insta-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                </ul>

              <!-- sns-icon end -->
          </div>
          <!-- util-menu end -->

          <!-- main index logo -->
          <h1 class="logo"><a href="../index.html"><img src="../../img/logo.png" alt="manpower main logo"></a></h1>

          <div class="menu-btn-mobile">
            <img src="../../img/menu-btn-mobile.png" alt="메뉴 버튼">
          </div>

          <!-- gnb start -->
          <ul class="gnb">
            <li class="parent-menu clear-fix">
                <a href="../about/mg_about.html">ABOUT</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../about/mg_about.html">About ManpowerGroup</a></li>
                  <li><a href="../about/mk_about.html">About Manpower Korea</a></li>
                  <li><a href="../about/vv_about.html">Vision & Value</a></li>
                  <li><a href="../about/fb_about.html">Family Brands</a></li>
                  <li><a href="../about/news_about.html">News</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="../service/ex_service.html">SERVICE</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../service/ex_service.html">Executive Search Services</a></li>
                  <li><a href="../service/pro_service.html">RPO</a></li>
                  <li><a href="../service/bts_service.html">BTS</a></li>
                  <li><a href="../service/r_chk_service.html">Reference checking services</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
              <a href="#">SERVICE REQUEST</a>
              <ul class="child-menu">
                <li class="gnb_pointer"></li>
                <li><a href="#">Service Request</a></li>
              </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="../jobinfo/oppor_jobinfo.html">JOB INFORMATION</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../jobinfo/oppor_jobinfo.html">Job Opportunities</a></li>
                  <li><a href="#">Post a Resume</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="#">COMMUNICATION</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="#">Notice</a></li>
                  <li><a href="../commun/faq_commun.html">FAQ</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="#">CONTACT US</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="#">Office Info&amp;Location Map</a></li>
                  <li><a href="#">Global Network</a></li>
                </ul>
            </li>
          </ul>
          <!-- gnb end -->
    </div>
    <!-- inner end -->
  </div>
  <!-- header end -->

  <!-- container start -->
  <div class="container clear-fix">
    <!-- m-visual-bg start -->
    <div class="m-visual-bg">
    </div>
    <!-- m-visual-bg end -->

    <!-- m-visual start -->
    <div class="m-visual">
        <div class="inner">
          <div class="title-box">
            <h2>JOB INFORMATION</h2>
          </div>
        </div>
      </div>
      <!-- m-visual end -->

    <!-- inner start -->
    <div class="inner">
      <!-- container-article start -->
      <div class="container-article">
        <h3>Job Opportunities</h3>

        <div class="job-table">
            <ul class="job-table-head">
             <li>Position</li>
             <li>Location</li>
             <li>Job Description</li>
             <li>Posted</li>
             <li>No. of Openings</li>
             <li>Salary Range</li>
             <li>Views</li>
             <li>Action</li>
           </ul>


           <!-- job-table-body start : line 01 -->
           <ul class="job-table-body">
            <li><!--1-->
               <ul class="job-position-col">
                 <li>1</li>
                 <li>
                   Content Review Analyst
                 </li>
                 <li class="orange-btn">
                   <a href="#">View</a>
                 </li>
               </ul>
             </li>

             <li><!--2-->
               Multiple Locations
             </li>

             <li class="job-desc-col"><!--3-->
               <span>Program Development</span>
                <ul class="job-spec">
                  <li>0 km away</li>
                  <li>Temporary</li>
                  <li>Full Time</li>
                </ul>
             </li>

             <li><!--4-->
               Fri,11/17/2017
             </li>
             <li><!--5-->
               70
             </li>
             <li><!--6-->
                <!--Salary-->
             </li>
             <li><!--7-->
               <img src="../../img/job-view.png" alt="눈모양 아이콘">
               57
             </li>
             <li><!--8-->
               <ul class="job-action-col">
                 <li class="orange-btn">
                   <a href="#">Apply</a>
                 </li>
                 <li>
                   <a href="#">
                     <img src="../../img/job-social.png" alt="">
                   </a>

                   <a href="#">
                     <img src="../../img/job-save.png" alt="">
                   </a>
                 </li>
               </ul>
             </li>
           </ul>
           <!-- job-table-body end : line 01 -->

          <!-- job-table-body start : line 02 -->
          <ul class="job-table-body">
           <li><!--1-->
              <ul class="job-position-col">
                <li>2</li>
                <li>
                  Content Review Analyst-Indonesian
                </li>
                <li class="orange-btn">
                  <a href="#">View</a>
                </li>
              </ul>
            </li>

            <li><!--2-->
              Multiple Locations
            </li>

            <li class="job-desc-col"><!--3-->
              <span>Program Development</span>
               <ul class="job-spec">
                 <li>0 km away</li>
                 <li>Contract</li>
                 <li>Full Time</li>
               </ul>
            </li>

            <li><!--4-->
              Fri,11/17/2017
            </li>

            <li><!--5-->
              70
            </li>

            <li><!--6-->
               <!--Salary-->
            </li>

            <li><!--7-->
              <img src="../../img/job-view.png" alt="눈모양 아이콘">
              57
            </li>

            <li><!--8-->
              <!-- job-action-col start -->
              <ul class="job-action-col">
                <li class="orange-btn">
                  <a href="#">Apply</a>
                </li>
                <li>
                  <a href="#">
                    <img src="../../img/job-social.png" alt="">
                  </a>
                  <a href="#">
                    <img src="../../img/job-save.png" alt="">
                  </a>
                </li>
              </ul>
              <!-- job-action-col end -->
            </li>
          </ul>
          <!-- job-table-body end : line 02 -->



        </div>

        <span class="page-nation"></span>
      </div>
      <!-- container-article end -->
    </div>
    <!-- inner end -->
  </div>
  <!-- container end -->


  <!-- footer start -->
  <div class="footer">
    <!-- inner start -->
    <div class="inner">
      <!-- company-info start -->
      <div class="company-info">
        <ul>
        ADDRESS: 8,9,10,11,15F,  409, Teheran-ro, Gangnam-gu, Seoul , Korea, 135-876<br>
    TEL: 02-6677-9900 FAX: 02-6677-9901
        </ul>
      </div>
      <!-- company-info end -->


      <!-- copyright start -->
      <div class="copyright">
        Copyright ⓒ 2017 Manpower Korea Inc. All Rights Reserved.
      </div>
      <!-- copyright end -->

      <!-- etc-menu start -->
      <div class="etc-menu">
        <ul>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
          <li><a href="#">TERMS OF USE</a></li>
          <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
          <li><a href="#">SITEMAP</a></li>
        </ul>
      </div>
      <!-- etc-menu end -->
    </div>
    <!-- inner end -->
  </div>
  <!-- footer end -->

</body>
</html>
