<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="아웃소싱 전문업체, 인재파견, 헤드헌팅, 장단기 파견, IT 등 채용정보 제공.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 부트스트랩 CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../../css/common/reset.css">
  <link rel="stylesheet" href="../../css/common/header.css">
  <link rel="stylesheet" href="../../css/common/footer.css">
  <link rel="stylesheet" href="../../css/asset/login.css">

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

  <script src="../../js/header.js"></script>


<!--
*기존 참고 사이트
- https://manpower.co.kr
- https://manpower.co.kr/head_hunting/
-->
  <title>맨파워코리아</title>

  <!-- 반응형 테스트 CSS코드 -->
  <style media="screen">

  </style>

</head>
<body>
  <!-- header start -->
  <div class="header">

    <!-- inner start -->
    <div class="inner">

            <!-- util-menu start -->
          <div class="util-menu">
              <!-- login-box start -->
              <ul class="login-box">
                <li class="mymenu">
                  <a href="./mymenu.html">MY MENU</a>
                </li>
                <li class="triangle">
                  <a href="#" class="eng" >ENGLISH</a>
                  <a href="#" class="kor">한국어</a>
                </li>
                <li><a href="./login.html">LOGIN</a></li>
                <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
                <li><a href="./signup.html">SIGNUP</a></li>
              </ul>
              <!-- login-box end -->

              <!-- sns-icon start -->
              <ul class="sns-icon clear-fix">
                  <li><a href="#"><img src="../../img/facebook-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                  <li><a href="#"><img src="../../img/in-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                  <li><a href="#"><img src="../../img/insta-icon.png" alt="페이스북 로그인 아이콘"></a></li>
                </ul>

              <!-- sns-icon end -->
          </div>
          <!-- util-menu end -->


          <!-- main index logo -->
          <h1 class="logo"><a href="/index.html"><img src="../../img/logo.png" alt="manpower main logo"></a></h1>

          <div class="menu-btn-mobile"><img src="../../img/menu-btn-mobile.png" alt="메뉴 버튼"></div>

          <!-- gnb start -->
          <ul class="gnb">
            <li class="parent-menu clear-fix">
                <a href="../about/mg_about.html">ABOUT</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../about/mg_about.html">About ManpowerGroup</a></li>
                  <li><a href="../about/mk_about.html">About Manpower Korea</a></li>
                  <li><a href="../about/vv_about.html">Vision & Value</a></li>
                  <li><a href="../about/fb_about.html">Family Brands</a></li>
                  <li><a href="../about/news_about.html">News</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="../service/ex_service.html">SERVICE</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../service/ex_service.html">Executive Search</a></li>
                  <li><a href="../service/pro_service.html">RPO</a></li>
                  <li><a href="../service/bts_service.html">BTS</a></li>
                  <li><a href="../service/r_chk_service.html">Reference checking services</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
              <a href="#">SERVICE REQUEST</a>
              <ul class="child-menu">
                <li class="gnb_pointer"></li>
                <li><a href="#">Service Request</a></li>
              </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="../jobinfo/oppor_jobinfo.html">JOB INFORMATION</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../jobinfo/oppor_jobinfo.html">Job Opportunities</a></li>
                  <li><a href="#">Post a Resume</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="#">COMMUNICATION</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../commun/notice_list.html">Notice</a></li>
                  <li><a href="../commun/faq_commun.html">FAQ</a></li>
                </ul>
            </li>

            <li class="parent-menu clear-fix">
                <a href="../contact/contact.html">CONTACT US</a>
                <ul class="child-menu">
                  <li class="gnb_pointer"></li>
                  <li><a href="../contact/contact.html">Office Info&amp;Location Map</a></li>
                  <li><a href="#">Global Network</a></li>
                </ul>
            </li>
          </ul>
          <!-- gnb end -->
    </div>
    <!-- inner end -->
  </div>
  <!-- header end -->

  <!-- container start -->
  <div class="container clear-fix">
    <!-- inner start -->
    <div class="inner">
      <!-- left-section start -->
      <div class="left-section"></div>
      <!-- left-section end -->
      <!-- right-section start -->
      <div class="right-section">
          <fieldset>
            <!-- login-area start -->
            <legend class="login-area">
              <h3>Log In</h3>
              <div class="line"></div>
              <label for="id">User ID/Email:</label><br>
              <input type="text" placeholder="User ID/Email" id="id" name="id" value=""><br>
              <label for="Password">Password:</label><br>
              <input type="password" placeholder="Password" id="password" name="password" value=""><br>

              <div class="btn-group">
                <span class="left">Forgot Password?</span>
                <span class="right">
                  <button type="button" name="button" class="cancel-btn">Cancel</button>
                  <button type="button" name="button" class="login-btn">Log in</button>
                </span>
              </div>
            </legend>
            <!-- login-area end -->


            <div class="or-area">
              <div class="line"></div>
              <span class="or">Or</span>
            </div>



            <!-- sns-login-area start -->
            <legend class="sns-login-area">
              <span>log in using</span>
              <div class="btn-group">
                <button type="button" name="button" class="facebook-login">Facebook</button>
                <button type="button" name="button" class="linkedin-login">LinkedIn</button>
              </div>
              </legend>
            <!-- sns-login-area end -->

            <!-- sign-up-area start -->
            <legend class="sign-up-area">
              <span>Don't have an Account?</span>
              <button type="button" name="button" class="sign-up-btn" onclick="location.href='signup.html'">Sign Up</button>
            </legend>
            <!-- sign-up-area end -->
        </fieldset>
      </div>
      <!--right-section end-->
    </div>
    <!-- inner end -->
  </div>
  <!-- container end -->


  <!-- footer start -->
  <div class="footer">
    <!-- inner start -->
    <div class="inner">
      <!-- company-info start -->
      <div class="company-info">
        <ul>
        ADDRESS: 8,9,10,11,15F,  409, Teheran-ro, Gangnam-gu, Seoul , Korea, 135-876<br>
    TEL: 02-6677-9900 FAX: 02-6677-9901
        </ul>
      </div>
      <!-- company-info end -->


      <!-- copyright start -->
      <div class="copyright">
        Copyright ⓒ 2017 Manpower Korea Inc. All Rights Reserved.
      </div>
      <!-- copyright end -->

      <!-- etc-menu start -->
      <div class="etc-menu">
        <ul>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
          <li><a href="#">TERMS OF USE</a></li>
          <li class="bg-bar"><img src="../../img/bg-bar.png" alt="중간선"></li>
          <li><a href="#">SITEMAP</a></li>
        </ul>
      </div>
      <!-- etc-menu end -->
    </div>
    <!-- inner end -->
  </div>
  <!-- footer end -->

</body>
</html>
